[workspace]
name = "influenza-override-groups"
channels = ["conda-forge", "bioconda", "nodefaults"]
platforms = ["linux-64", "osx-64", "osx-arm64"]

[tasks]
# --cores have to specified for local execution. Use 1 to be nice to upstream servers.
# --rerun-incomplete: We use this because our rules are idempotent and can be restarted.
regenerate-influenza-a = "snakemake --cores 1 --rerun-incomplete --config taxon_id=197911"
regenerate-influenza-b = "snakemake --cores 1 --rerun-incomplete --config taxon_id=11520"
clean = "rm -rf genbank_assembly/ refseq_assembly/ *_assembly.zip"

[dependencies]
python = ">=3.13.10,<3.14"
biopython = ">=1.86,<2"
click = ">=8.3.1,<9"
ncbi-datasets-cli = ">=18.10.2,<19"
snakemake = ">=9.14.1,<10"
unzip = ">=6.0,<7"
