[workspace]
name = "influenza-override-groups"
channels = ["conda-forge", "bioconda", "nodefaults"]
platforms = ["linux-64", "osx-64", "osx-arm64"]

[tasks]
# --cores have to specified for local execution
# -F to force run, even though files exist
regenerate-influenza-a = "snakemake -F --config taxon_id=197911 --cores 2"
regenerate-influenza-b = "snakemake -F --config taxon_id=11520 --cores 2"

[dependencies]
python = ">=3.13.10,<3.14"
biopython = ">=1.86,<2"
click = ">=8.3.1,<9"
ncbi-datasets-cli = ">=18.10.2,<19"
snakemake = ">=9.14.1,<10"
unzip = ">=6.0,<7"
